# -------------------------------
# Python
# -------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------------
# Django
# -------------------------------
db.sqlite3
*.log
.env
.env.*

# -------------------------------
# Virtual environments
# -------------------------------
venv/
myworld/

# -------------------------------
# Docker
# -------------------------------
postgres-data/
*.pid
*.sock

# -------------------------------
# Static & Media files
# -------------------------------
staticfiles/
media/

# -------------------------------
# IDE / Editors
# -------------------------------
.vscode/
.idea/

# -------------------------------
# OS / System files
# -------------------------------
.DS_Store
Thumbs.db

